/*
* {
    outline: 2px solid red;
}

*/

body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 64px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-bottom: 2px solid rebeccapurple;
}

.headLinks {
    display: flex;
    justify-content: space-evenly;
}

.id{
    display: flex;
    padding-right: 64px;
    margin-right: 32px;
}

.idBtn {

    background: rebeccapurple;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: white;
    font-size: 20px;
}

.idBtn:hover{

    background-color: orange;
}

.main {
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.spacer {
    display: flex;
    width: 15%;
    background: transparent;
    border-left: 2px solid rebeccapurple;
}

h1 {
    display: flex;
    border-bottom: 2px solid rebeccapurple;
    justify-content: center;
    padding-bottom: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex-shrink: 0;
    width: 15%;
    border-right: 2px solid rebeccapurple;
}

ul {
    list-style-type: none;
}

li{

    margin-bottom: 16px;
}

a {    
    color: black;
    background: white;
    text-decoration: none;
    padding: 16px;
}

a:hover {
    color: rebeccapurple;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    padding-bottom: 64px;
    min-height: 690px;

}

.footer {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 2px solid rebeccapurple;
    background: transparent;
    background-color: #e2dfdf;
}