
#game {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#container {
    flex-direction: column;
    width: 75%;
}

#scoreBoard {
    display: flex;
}

#compScore,
#userScore,
#tieScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 16px;
}

#cScore,
#uScore,
#tScore {
    margin: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 12x;
    color: black;
    width: 25%;
    height: 64px;
    background-color: plum;
    border-radius: 10%;
}

#btns {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-right: 180px;
    margin-top: 16px;
    margin: 100px;
}

button {
    padding: 8px;
    border-radius: 8px;
    margin-top: 16px;
}
button:hover{
background-color: orange;

}

#action {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    height: 550px;
    overflow-x: hidden;
    outline: 2px solid black;


}

#logBanner {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    margin: 0px;
    background-color: rgb(194, 189, 189);
    outline: 2px solid black;
    font-size: 20px;
}

#logs {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#clearBtn {
    display: flex;
    margin: 0px;
    padding: 0px;
    outline: 2px solid black;


}